{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "vue",
    "html"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ]
  }
}
